<html>
<head>
    <title> Login </title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
    <body>
    <div class="login-box">
    <img src="/static/avatar.png" class="avatar">
        <h1>Login Here</h1>
            <form method="post">
            {{form.hidden_tag()}}
          <p>{{form.email.label}}</p>
           {{form.email}}
            <p>{{form.password.label}}</p>
            {{form.password}}
            {{form.submit()}}

            </form>


        </div>

    </body>
</html>
